//site
$primary-h: 210 !default;
$primary-s: 100 !default;
$primary-b: 80 !default;

//$secondary;
//$tertiary: #fed505;
//$tertiary-text: $white;

//$header-bg-color: $monet-blue;
//$header-center-bg-color: $header-bg-color;

//$headings-color: $primary;
//$semibold: 600;
